TASK 1

In [33]:
import pandas as pd
import glob

DATA_PATH = 'data/DayAheadPrices_12.1.D/*.csv'

files = glob.glob(DATA_PATH)

df_price_all = pd.concat([pd.read_csv(file) for file in files], ignore_index=True)

df_price_all

        DateTime\tResolutionCode\tAreaCode\tAreaTypeCode\tAreaName\tMapCode\tPrice\tCurrency\tUpdateTime
0        2021-05-01 00:00:00.000\tPT60M\t10Y1001A1001A4...
1        2021-05-01 01:00:00.000\tPT60M\t10Y1001A1001A4...
2        2021-05-01 02:00:00.000\tPT60M\t10Y1001A1001A4...
3        2021-05-01 03:00:00.000\tPT60M\t10Y1001A1001A4...
4        2021-05-01 04:00:00.000\tPT60M\t10Y1001A1001A4...
...                                                    ...
2109212  2019-08-07 17:00:00.000\tPT60M\t10YSI-ELES----...
2109213  2019-08-07 18:00:00.000\tPT60M\t10YSI-ELES----...
2109214  2019-08-07 19:00:00.000\tPT60M\t10YSI-ELES----...
2109215  2019-08-07 20:00:00.000\tPT60M\t10YSI-ELES----...
2109216  2019-08-07 21:00:00.000\tPT60M\t10YSI-ELES----...

[2109217 rows x 1 columns]