TASK 1

In [63]:
import pandas as pd
import glob

DATA_PATH = 'data/DayAheadPrices_12.1.D/*.csv'

files = glob.glob(DATA_PATH)

df_price_all = pd.concat([pd.read_csv(file, sep='\t') for file in files], ignore_index=True)

In [66]:
df_price_all['DateTime'] = pd.to_datetime(df_price_all['DateTime'])

df_price_all = df_price_all.set_index('DateTime')

In [68]:
df_price_all = df_price_all.sort_index()

In [71]:
df_price_all

,ResolutionCode,AreaCode,AreaTypeCode,AreaName,MapCode,Price,Currency,UpdateTime
DateTime,,,,,,,,
2019-01-01 00:00:00,PT60M,10YCZ-CEPS-----N,BZN,CZ BZN,CZ,3.97,EUR,2019-01-01 00:16:41
2019-01-01 00:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,10.07,EUR,2018-12-31 13:16:07
2019-01-01 00:00:00,PT60M,10Y1001A1001A885,BZN,IT-SACOAC BZN,IT_SACO_AC,46.27,EUR,2018-12-31 15:16:38
2019-01-01 00:00:00,PT60M,10Y1001A1001A45N,BZN,SE2 BZN,SE2,10.07,EUR,2018-12-31 13:16:07
2019-01-01 00:00:00,PT60M,10Y1001A1001A46L,BZN,SE3 BZN,SE3,10.07,EUR,2018-12-31 13:16:06
...,...,...,...,...,...,...,...,...
2023-12-31 23:15:00,PT15M,10YAT-APG------L,BZN,AT BZN,AT,14.08,EUR,2023-12-29 11:23:51.051
2023-12-31 23:30:00,PT15M,10YAT-APG------L,BZN,AT BZN,AT,0.48,EUR,2023-12-29 11:23:51.051
2023-12-31 23:30:00,PT15M,10Y1001A1001A82H,BZN,DE-LU BZN,DE_LU,-9.01,EUR,2024-01-03 11:31:16.016
2023-12-31 23:45:00,PT15M,10YAT-APG------L,BZN,AT BZN,AT,-3.64,EUR,2023-12-29 11:23:51.051
2023-12-31 23:45:00,PT15M,10Y1001A1001A82H,BZN,DE-LU BZN,DE_LU,-29.91,EUR,2024-01-03 11:31:16.016

In [96]:
df_price_NO = df_price_all[df_price_all['AreaCode'].str.contains('NO-2', na=False)]
df_price_DE = df_price_all[df_price_all['MapCode'].str.contains('DE_LU', na=False)]

In [99]:
df_price_DE = df_price_DE[df_price_DE['ResolutionCode'].str.contains('60', na=False)]

In [ ]:
import matplotlib.pyplot as plt

plt.plot